body{
    background: lightsalmon;
    margin: 7px;
}

.sec3{
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 125px;

}

h1{
    margin-left: 800px;
}

