body{
    background: rgb(0, 0, 0);
    margin: 7px;
}

.sec4{
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 300px;

}

h1{
    margin-left: 400px;
}